* {
  box-sizing: border-box;
}

body, html {
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Song Myung', serif;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

input {
  -webkit-appearance: none;
  border: none;
  outline: none;
}

input::placeholder {
  color: #2f323a;
  opacity: 1;
  font-style: italic;
  font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
}

.hr-txt {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: #2f323a;
  text-align: center;
  height: 1.5em;
}

.hr-txt:before {
  content: '';
  background: linear-gradient(to right, transparent, #F7F0F0, transparent);
  background-color: #2f323a;
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  height: 1px;
}

.hr-txt:after {
  content: attr(data-content);
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: inline-block;
  color: #F7F0F0;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #F7F0F0;
  background-color: #2f323a;
}

/* .img-box img {
  max-height: 550px;
} */

.wrapper {
  width: 100%;
  height: 100%;
  background: #484d5a;
  
}

.container {
  width: 100%;
  height: 100%;
  padding: 1.3rem;
}

.container.fundo {
  background: url("/imgs/footer_lodyas.png");
  /* -webkit-animation: slide 10s linear infinite; */
}

/* Containers com flex*/
.container.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.img-holder-init {
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
}

.img-holder {
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;

  -webkit-animation: encolhe 0.5s ease-out forwards;
  animation: encolhe 0.5s ease-out forwards;
}

@-webkit-keyframes encolhe{
  from {max-height: 100%}
  to {max-height: 50%}
}

@keyframes encolhe{
  from {max-height: 100%}
  to {max-height: 50%}
}

.img-holder > img, .img-holder-init > img {
  width: 75%;
  margin: 0 auto;
}

.box {
  width: 100%;
  height: 50%;
  max-height: 0%;
  overflow: hidden;
  padding: 1.7rem;
  opacity: 1;
  visibility: hidden;

  box-sizing: border-box;

  -webkit-animation: estica 0.5s linear forwards;
  animation: estica 0.5s linear forwards;

  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@-webkit-keyframes estica{
  from {max-height: 0%;}
  to {max-height: 100%; visibility: visible}
}

@keyframes estica{
  from {max-height: 0%;}
  to {max-height: 100%; visibility: visible}
}

.box.clean {
  background-color:none !important;
}

.form-holder {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}

.form {
  position: absolute;
  width: 100%;
  bottom: 0;
  /* left: -100%;
  max-height: 0px; */

  box-sizing: border-box;
  z-index: 2;
}

.form.hide {
  opacity: 0;
  z-index: 1 !important;
}

.input-holder {
  position: relative;
  width:100%;
  padding: 0 0 0.5rem 0 ;
  margin-bottom: 1.35rem;
}

.input-holder > * {
  width: 100%;
}

label {
  border-radius: 100px;
  overflow: hidden;
  position:absolute;
  bottom:0px;
  left:0;
  right:0;
  background:rgb(7, 148, 187);
  /* background:linear-gradient(to right, rgb(105, 150, 187), rgb(105, 150, 187)); */

  padding:1px 0 0 0;

  transform: scaleY(1);
  -webkit-transform: scaleY(1);

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

input:focus ~ label {
  background:rgb(7, 148, 187);

  transform: scaleY(3);
  -webkit-transform: scaleY(3);
}

input {
  background: transparent;
  font-size: 0.95rem;
  font-family: 'Montserrat', sans-serif;
  color: #01BAEF;
  padding: 0;
}

input::-webkit-input-placeholder {
  color: #F6F2FF;
  opacity: 0.5;
  text-align: left;
  padding: 0;

  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

input:focus::-webkit-input-placeholder {
  opacity: 0.2;
  padding-left: 0.5rem;
}

.bt-group {
  margin-top: 3rem;
}

.bt-group.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.bt {
  margin: 0rem 0.7rem 1rem 0rem;
  width: 100%;
  border-radius: 30rem;
  /* text-transform: uppercase; */
}

.bt > p {
  font-family: 'Slackey', cursive;
}

.bt.main {
  background-color: #E06855;
  color:#F6F2FF;
}

.bt.fb {
  background-color: rgb(85, 129, 224);
  color:#F6F2FF;
}

.bt.normal {
  font-size: 0.9rem;
  padding: 0.7rem 0.8rem;
}

.bt.small {
  font-size: 0.7rem;
  padding: 0.6rem 0.7rem;
}

.bt.link {
  text-transform: none;
  background-color: transparent;
  color:#F6F2FF;
}

.bt.link > p {
  font-family: 'Montserrat', sans-serif;
}

.bt:last-child {
  margin-right: 0rem;
}
/* Estilos para a pagina main */

