<div class="container fundo flex-column-center">

    <div class="img-holder">
        <img src="/imgs/logo.svg">
    </div>

    <div class="box clean">

        <div class="form-holder">
            
                <form class="form login" ng-class="classeSlideLogin">

                        <div class="input-holder">
                            <input type="email" name="login-usuario" class="login usuario" placeholder="e-mail">
                            <label></label>
                        </div>
            
                        <div class="input-holder">
                            <input type="password" name="senha-usuario" class="login senha" placeholder="senha">
                            <label></label>
                        </div>
            
                        <div class="bt-group">
                            <div class="login bt normal main"><p>Entrar</p></div>
            
                            <div class="login bt small fb"><p>Usar o Facebook</p></div>
            
                            <div class="login bt small link" ng-click="mudaForm()"><p>Nem tenho conta, quero me cadastrar!</p></div>
                        </div>
            
                    </form>
            
                    <form class="form cadastro" ng-class="classeSlideCadastro">
            
                        <div class="input-holder">
                            <input type="email" name="login-usuario" class="login usuario" placeholder="digite um e-mail">
                            <label></label>
                        </div>
            
                        <div class="input-holder">
                            <input type="password" name="senha-usuario" class="login senha" placeholder="escolha uma senha">
                            <label></label>
                        </div>
            
                        <div class="input-holder">
                            <input type="password" name="senha-usuario" class="login senha" placeholder="repete a senha, pls">
                            <label></label>
                        </div>
            
                        <div class="bt-group">
                            <div class="login bt normal main"><p>Cadastrar</p></div>
            
                            <div class="login bt small fb"><p>Nah, vou pelo facebook</p></div>
            
                            <div class="login bt small link" ng-click="mudaForm()"><p>Preguiça disso, deixa eu voltar!</p></div>
                        </div>
            
                    </form>
        </div>
    </div>
</div>